.cart_item {
  display: flex;
  flex-direction: column;
}
.cart_footer {
  background-color: #18181b;
  padding: 2px;
  color: #fff;
}
.Cart {
  padding: 4px;
}
.Cart img {
  width: 50px;
  object-fit: scale-down;
  mix-blend-mode: multiply;
}
