header,
.cart_info {
  display: flex;
  align-items: center;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #070708;
  padding: 8px;
  justify-content: space-between;
  color: #fff;
  z-index: 10;
}
header img {
  max-height: 40px;
}
header button {
  background-color: #070708;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  color: #fff;
  font-size: 2rem;
}
header .total {
  margin-right: 15px;
  font-weight: normal;
}

@media screen and (mix-width: 768px) {
}
