.modal_body {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 8px;
  max-width: 520px;
  max-height: 80vh;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s linear;
  padding: 8px;
  border-radius: 2px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  color: #000;
  background: #fff;
  overflow-y: scroll;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 9;
}
.modal_body.isOpen {
  visibility: visible;
  opacity: 1;
}
.modal_btn {
  display: flex;
  flex-direction: row-reverse;
}
.close_btn {
  background-color: #fff;
  outline: none;
  border: none;
  font-weight: 800;
  font-size: large;
  cursor: pointer;
}
.modal_body img {
  height: 150px;
  object-fit: scale-down;
}
@media only screen and (min-width: 768px) {
  .modal_body img {
    max-width: 520px;
    height: 200px;
  }
  .modal_body {
    overflow: hidden;
    height: fit-content;
  }
}
