.Products {
  margin: 10px;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}

.Products:last-child {
  margin: 5px 0;
}

@media only screen and (min-width: 768px) {
  .Products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
